* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}


.menu ul li {
	display: inline-block;
	width: 100px;
}

.main {
	position: relative;
	bottom: 100px;
}

.hero-image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 250px;
}


.social {
	position: relative;
	bottom: 200px;
	margin-left: 750px;
}

.social a {
	text-decoration: none;
	font-size: 30px;
	color: black;
}

.social a:hover{
	color: #808080;
}

.social a:active{
	color: #ff0000;
}

.social li {
	display: inline-block;
	width: 70px;
}


