*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

/* Nav Bar */

nav{
    margin-left:200px;
    padding-top: 25px;
    display: flex;
}

nav a{
    text-decoration: none;
}



.menu ul li{
    display: inline-block;
    width: 100px;
    
    
    

}



.main{
    position: relative;
    bottom: 150px;
}


.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px;
}

.social{
    position: relative;
    bottom: 200px;
    margin-left: 815px;

}

.social a{
    text-decoration: none;
    font-size: 35px;
    color: black;
    
}

.social li{
    display: inline-block;
    width: 100px;
}